body,html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    color: #333;
    background-color: #333;
}

* {
    font-size: 17px;
}
a{
	text-decoration:none;
}
.navbar-fixed {
    position: fixed;
    height: 45px;
    width: 100%;
    color: whitesmoke;
    z-index: 999;
}

ul {
    list-style-type: none;
    margin: 0;
    text-align: left;
    overflow: hidden;
}

/* Mapa do Site */
.cardMapa a {
    display: block;
    padding: 6px 6px;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.logo {
    position: absolute;
    float: left !important;
    font-size: 2em;
    margin: 5px 10px;
    text-decoration: none;
    color: whitesmoke;
}

.bg-image {
    background-image: url("../img/bg.jpeg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.bg-text h1 {
    font-size: 50px;
}

section {
    height: 100vh;
}

section .title {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: xx-large;
    text-align: center;
    background: #333;
    color: whitesmoke;
}

.titleWeb1 {
    margin: 0;
}

footer {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: xx-large;
    text-align: center;
    background: #333;
    color: whitesmoke;
}

section#cursos {
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 40px 20px;
    background: white;
    float: left;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.card:hover {
    transform: scale(1.1);
}

.card.disabled {
    background: #f3ecec8e;
    transform: scale(1);
    cursor: default;
}

.circular {
    border-radius: 50%;
    width:200px;
    height:200px;
}

.social {
    border-radius:50%;
    width:50px;
    height:50px;
}

.cardQuemSomos {
    width: 50%;
    height: 40%;
    left: 24%;
    cursor: auto;
    border: 3px solid #f1f1f1;
    position: absolute;
}

/* Mapa do Site */
.cardMapa {
    width: 45%;
    height: 40%;
    left: 24%;
    cursor: auto;
    border: 3px solid #f1f1f1;
    position: absolute;
}

.cardVideo {
    width: 40%;
    height: 40%;
    cursor: auto;
    border: 3px solid #f1f1f1;
}

.cardFielset {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    padding: 20px;
    margin: 60px 20px;
    background: white;
    float: left;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 85%;
    height: 80%;
}

.divVideo {
    position: absolute;
    left: 5%;
    width: 100%;
    height: 100%;
}

table,tr,td,th {
    width:800px;
}

/* Fale conosco - centralizar conteúdo */
.containerVideos {
    width: 90%;
    height: 80%;
    cursor: auto;
    position: relative;
	top: 45%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

/* Fale conosco - centralizar conteúdo */
.containerFale {
    width: 90%;
    height: 80%;
    cursor: auto;
    position: relative;
	top: 45%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
.container {
    padding: 16px;
    background-color: white;
}

/* Fale conosco */
input[type=text],
input[type=password],
input[type=tel],
textarea {
    width: 97%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #ddd;
}

/* Fale conosco */
input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
textarea {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.btnEnviar {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btnEnviar:hover {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 85%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.videoAula {
    width: 60%;
    height: 60%;
    cursor: pointer;
}

.form1 {
    text-align: left;
}

.acoesForm1 {
    float: right;
}

#objetivo{
	text-align:justify;
}

.cardMapa,.divMapa,.cardQuemSomos {
	height:auto !important;
}

/*table, th,td {border: 1px solid black;}*/
table, th {
  width:100%;
}
#pricol{
	width:400px;
}
